#nameDN{
    font-family: fantasy;
    color: rgb(37, 176, 223);
    font-size: 5rem; 
    padding: 0;
    margin: 0;   
}
#nameDN span{
    color: black;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('2020-01-13.jpg');
    
   
}

body div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

 
}
body div p{
    color: rgb(250, 250, 250);
    background-color: rgb(128, 128, 128);
    font-size: 1rem;
    border-radius: 12px;
    padding: 4px;
}